.logement {
	max-width: 1200px;
	margin: 0 auto;

	.presentation {
		width: 100%;
		height: 165px;
		display: flex;
		flex-flow: row wrap;

		.infos {
			width: 75%;
			max-height: 160px;
		}

		h1 {
			margin: 2rem 0 0.5rem 0;
			color: #ff6060;
			font-weight: 500;
			text-align: left;
		}

		.location {
			margin: 0 0 1rem 0;
			text-align: left;
			font-weight: 500;
		}
	}

	.details {
		margin-top: 1rem;
		width: 25%;
		display: flex;
		flex-flow: column nowrap;
		align-items: end;
		justify-content: space-between;

		.host {
			margin-top: 0.2rem;
			display: flex;
			color: #ff6060;
			font-weight: 500;
			font-size: 1.2rem;

			.hostName {
				margin-right: 1rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			img {
				border-radius: 50%;
				width: 70px;
				height: 70px;
			}
		}
	}

	.dropdown {
		margin: 2rem 0 4rem 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		min-height: auto;

		button {
			width: 100%;
			height: 55px;
			padding: 0 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: start;
			font-size: 1.3rem;
			font-weight: 700;
			background-color: #ff6060;
			color: white;
			border: 0;
			border-radius: 5px;
			cursor: pointer;

			.arrow {
				transition: transform 0.3s linear;
			}

			&.open .arrow {
				transform: rotate(180deg);
			}
		}

		.wrapper {
			flex-flow: nowrap column;
			width: 550px;
			text-align: left;
			transition: max-height 0.6s ease-in-out;
		}

		.content {
			overflow: hidden;
			transition: max-height 0.6s ease-in-out;
		}

		p,
		ul {
			margin: 0;
			padding: 1.5rem 1.5rem;
			background-color: #f6f6f6;
			line-height: 150%;
		}
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.logement {
		padding: 0 1rem;
		.dropdown {
			padding: 2rem 0;
			.wrapper {
				width: 45%;
			}

			.button {
				width: 45%;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.logement {
		max-width: 100%;
		padding: 0 1rem;
		margin: 0;

		.presentation {
			flex-flow: column nowrap;
			margin-bottom: 0.5rem;
			height: auto;

			.infos {
				width: 100%;
				max-height: 100%;

				h1 {
					font-size: 1.2rem;
				}

				.location {
					font-size: 0.9rem;
					margin: 0;
				}
			}
		}

		.details {
			margin-top: 0.5rem;
			width: 100%;
			flex-flow: row nowrap;

			.host {
				margin-top: 0rem;
				font-size: 0.9rem;
				order: 2;

				.hostName {
					margin-right: 0.5rem;
				}

				img {
					border-radius: 50%;
					width: 35px;
					height: 35px;
				}
			}
		}

		.dropdown {
			margin: 0 0 2rem 0;
			display: flex;
			flex-flow: column nowrap;

			button {
				width: 100%;
				height: 40px;
				margin-top: 1rem;
				padding: 0 0.5rem;
				font-size: 0.9rem;
			}

			.wrapper {
				width: 100%;
			}

			.content {
				width: 100%;
				text-align: left;

				p,
				ul {
					padding: 1rem 1rem;
					font-size: 0.8rem;
				}
			}
		}
	}
}
