@use "mixins";
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

*,
*:focus,
*:hover {
	outline: none;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a,
a:hover {
	text-decoration: none;
	color: black;
}

img {
	object-fit: contain;
}

button:focus {
	outline: none;
}
