.header {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem 0 3rem 0;
	display: flex;
	justify-content: space-between;

	img {
		width: 180px;
	}

	ul {
		margin: 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		li {
			margin: 0 2em;
			font-weight: 500;
			font-size: 1.2rem;

			.active {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.header {
		max-width: 100%;
		padding: 2rem 1rem;

		img {
			width: 125px;
		}

		ul {
			justify-content: end;
			padding: 0;
			li {
				margin: 0 0 0 1em;
				font-size: 0.9rem;
			}
		}
	}
}
